@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    font-family: 'Carbona light', sans-serif;
}

.navbar{
    padding: 16px 0px 12px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    background: #005a9e;
    width: 100%;
    transition: .3s linear;
    z-index: 999;
}
  
.navsticky{
    background: #fff;
    position: fixed;
    padding: 8px 0px 8px 0px;
}

.body{
    background: #005a9e;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.body span{
    background: #fff;
    padding: 5px;
    font-size: 41px;
}

.body h1{
    font-weight: 300;
    font-size: 66px;
    color: #fff;
}

.btn-white{
    background-color: #fff;
    color: #005a9e;
    outline: none;
    border: none;
    padding: 10px;
    margin-top: 30px;
    transition: .2s linear;
    border-radius: 3px;
}

.btn-white:hover{
    background: #18edce;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0px 14px 24px -13px rgb(0, 0, 0, .14);
}

/* About tooltip */
/* .solution-card .tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 10px;
  left: 105%;
  width: 280px;
  background-color: #1856ed;
  color: white;
  font-family: 'Carbona Light', sans-serif;
  font-size: 14px;
  padding: 10px;
  border-radius: 6px;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.99);
  transition: opacity 1.0s ease, visibility 5s ease;
}

.solution-card:hover .tooltip {
  opacity: 1;
  visibility: visible;
} */


/* o que fazemos */
.fazemos{
    text-align: justify;
    font-size: 1.1rem;      /* aumenta o tamanho da fonte */
    padding: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fazemos h2{
    font-size: 40px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.discover{
    max-width: 80%;
    height: auto;
    text-align: justify;
    /* padding: 4  2px; */
    font-size: 1.1rem;      /* aumenta o tamanho da fonte */
    padding: 0px;
    padding: 2rem;
    text-align: center;          /* Centraliza o conteúdo do texto */
    margin: 0 auto
}

.discover img{
    max-width: 80%;
    height: auto;
    animation: blob 20s linear infinite; /* Border animation */
}

@keyframes blob{
    0%{
        border-radius: 31% 69% 60% 40% / 37% 35% 65% 63% ;
    }
    20%{
        border-radius: 52% 48% 46% 54% / 55% 42% 58% 45% ;
    }
    40%{
        border-radius: 70% 30% 61% 39% / 34% 56% 44% 66% ;
    }
    60%{
        border-radius: 41% 59% 33% 67% / 58% 42% 58% 42% ;
    }
    80%{
        border-radius: 61% 39% 54% 46% / 39% 52% 48% 61% ;
    }
    95%{
        border-radius: 46% 54% 57% 43% / 65% 41% 59% 35% ;
    }
    100%{
        border-radius: 31% 69% 60% 40% / 37% 35% 65% 63% ;
    }
}

.divider{
    max-width: 100%;
    height: auto;
    border: 2px solid #005a9e;
    margin: 40px;
    padding-top: 10rem;
}

.divider h2{
    font-size: 40px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.topdishes{
    background: #cff8f2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topdisher h2 {
    font-size: 40px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  
}

.card-dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; /* espaço entre os cards */
}

.card {
  max-width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

/* --------------------------------------------- */
.card{
    text-decoration: none;
    margin: 20px;
    color: #005a9e;
    transition: .7s linear;
}

.card:hover{
    border: 2px solid #005a9e;
}

.card-dishes{
    max-width: 1260px;
}

.card img{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.app{
    color: #fff;
    background: #005a9e;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.app h2{
    font-size: 40px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.app p{
    padding: 10px;
    max-width: 1000px;
    columns: #dada;
}

.appImg{
    height: 500px;
}

.downloadImg{
    height: 105px;
    cursor: pointer;
}

.subscribe{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.newsletterForm{
    width: 90%;
}

.footer{
    background: #005a9e;
    color: #005a9e;
}

.footer *{
    color: #fff;
    text-align: center;
    padding: 30px;
}


/* politica da qualidade */ 

.qualidade {
    padding: 2rem;
    max-width: 1500px;
    margin:  auto; /* centraliza horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh; /* ocupa altura total da tela */
    /* cursor: pointer; */
    
}

.spx-solution-card_qualidade {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;
  width: 95%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


.card-diferencial img, 
.card-diferencial svg {
  width: 40px;
  height: 40px;
  object-fit: contain;
}




/* ajuste diferenciais */

#spx-diferenciais {
  padding: 2rem;
  background-color: #005a96;
}

#spx-diferenciais h2 {
    font-size: 40px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spx-solution-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto 1.5rem auto; /* centraliza horizontalmente */
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;

  width: 100%;        /* usa 90% da largura do container pai */
  max-width: 750px;  /* limita para não ficar gigante em telas grandes */
}

.spx-solution-card:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}


.spx-solution-card img {
  width: 5%;
  height: auto;
  margin-right: 1.5rem;
}

.spx-solution-card p {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
  margin: 0;
}

.spx-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* para estilizar o body image */

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.logo-img {
    max-width: 400px;
    height: auto;
    margin-bottom: 0rem;
}

.btn-team {
    margin-top: 0rem;
    display: flex;
    gap: 1rem;
}

.btn-white {
    background-color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-weight: bold;
}


/* configuração do botão contato */


.custom-btn.btn-3 {
  display: block;
  margin: 2rem auto;
  position: relative;
  border: none;
  box-shadow: none;
  width: 260px;
  height: 40px;
  line-height: 42px;
  perspective: 230px;
  text-align: center;
  text-decoration: none;
}

.custom-btn.btn-3 span {
  background: linear-gradient(0deg, #18edce 0%);
  display: block;
  position: absolute;
  width: 260px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
              7px 7px 20px 0px rgba(0,0,0,.1),
              4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  text-align: center;
  transition: all .3s;
  box-sizing: border-box;
  color: #005a9e;
  line-height: 40px;
}

.custom-btn.btn-3 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9,
              -4px -4px 5px 0px #fff9,
              7px 7px 20px 0px #0002,
              4px 4px 5px 0px #0001;
  transform: rotateX(90deg);
  transform-origin: 50% 50% -20px;
}

.custom-btn.btn-3 span:nth-child(2) {
  transform: rotateX(0deg);
  transform-origin: 50% 50% -20px;
}

.custom-btn.btn-3:hover span:nth-child(1) {
  transform: rotateX(0deg);
}

.custom-btn.btn-3:hover span:nth-child(2) {
  color: transparent;
  transform: rotateX(-90deg);
}

.solution-card {
  position: relative;
}

.solution-card .tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 10px;
  left: 105%;
  width: 280px;
  background-color: #1856ed;
  color: white;
  font-family: 'Carbona Light', sans-serif;
  font-size: 14px;
  padding: 10px;
  border-radius: 6px;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.99);
  transition: opacity 1.0s ease, visibility 5s ease;
}

.solution-card:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.solution-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
}



/* CARTÕES */
/* Tooltip oculto por padrão */
.card-solution .tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #005a9e;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  white-space: normal;
  width: 220px;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

/* Triângulo do tooltip */
.card-solution .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: #005a9e transparent transparent transparent;
}

/* Ao passar o mouse: mostra tooltip */
.card-solution:hover .tooltip {
  opacity: 1;
  visibility: visible;
}


/* sobre */
.sobre{
    text-align: justify;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.0rem;      /* aumenta o tamanho da fonte */
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.sobre h2 {
    font-size: 30px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.highlight{
    font-size: 40px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


